@import '~bootstrap';

html,
body,
main {
  height: 100%;
  width: 100%;
}

$button: Blue;
$icons: #fff;
$plus: #fff;

// img {
//     width: 90%; /* takes the 100 % width of its container (.box div)*/
//     height: 90%; /* takes the 100 % height of its container (.box div)*/
//   }

.add {
    width: 84px;
    height: 84px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // transform: scale(.5);
    transform-origin: 50% 50%;
    transition: transform .4s ease 0.5s;
    transform: scale(1) rotate(-45deg);
    a {
        display: block;
        position: relative;
        width: 50%;
        height: auto;
        padding-bottom: 50%;
        background: $button;
        -webkit-backface-visibility: hidden;
        transition: border-radius .3s ease, transform .2s ease;
        svg {
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -7px 0 0 -7px;
            opacity: 0;
            fill: $icons;
            transform: scale(.6) rotate(-45deg);
            transition: all .15s ease;
            -webkit-backface-visibility: hidden;
        }
        &:nth-child(1) {
            border-radius: 8px 0 0 0;
        }
        &:nth-child(2) {
            border-radius: 0 0 0 8px;
        }
        &:nth-child(3) {
            border-radius: 0 8px 0 0;
        }
        &:nth-child(4) {
            border-radius: 0 0 8px 0;
        }
    }
    &:before,
    &:after {
        content: '';
        width: 28px;
        height: 6px;
        border-radius: 3px;
        background: $plus;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        z-index: 1;
        transform-origin: 50% 50%;
        transition: transform .25s ease;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(45deg) scaleY(.76);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(135deg) scaleY(.76);
    }
    &:hover {
        transform: scale(1.2) rotate(135deg);
        transition: transform .4s ease .1s;
        &:before {
            transform: translate(-50%, -50%) scaleY(.76) scaleX(3);
        }
        &:after {
            transform: translate(-50%, -50%) rotate(90deg) scaleY(.76) scaleX(3);
        }
        a {
            --scale: 1;
            pointer-events: none;
            border-radius: 50%;
            animation: pointerEvent 0s linear forwards .4s;
            transition: border-radius .15s ease .1s, transform .25s ease .15s, background-color 1.0s ease-out;
            &:nth-child(1) {
                transform: translate(-6px, -6px) scale(var(--scale));
                background: white;
            }
            &:nth-child(2) {
                transform: translate(-6px, 6px) scale(var(--scale));
                &:hover {
                    --scale: 1.1;
                    transition: border-radius .2s ease .1s, transform .25s ease 0s;
                    svg {
                        opacity: 1;
                        transition: all .3s ease 0s;
                    }
                }
            }
            &:nth-child(3) {
                transform: translate(6px, -6px) scale(var(--scale));
                &:hover {
                    --scale: 1.1;
                    transition: border-radius .2s ease .1s, transform .25s ease 0s;
                    svg {
                        opacity: 1;
                        transition: all .3s ease 0s;
                    }
                }
            }
            &:nth-child(4) {
                transform: translate(6px, 6px) scale(var(--scale));
                background: white;
            }
            svg {
                opacity: .7;
                transition: all .3s ease .2s;
                transform: scale(1) rotate(-135deg);
            }
        }
    }
    // transition: transform .4s ease 1.5s;
    // &:hover{
    //     transform: scale(1) rotate(45deg);
    // }
}

@keyframes pointerEvent {
    100% {
        pointer-events: auto;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}

.card-text {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 15; /* number of lines to show */
           line-clamp: 15; 
   -webkit-box-orient: vertical;
}